.App {
  text-align: center;
}
.bottomDiv {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 10px;
  margin-right: 10px;
}

.bottomDiv .rightDiv {
  margin-right: 40px;
}
.bottomDiv .leftDiv {
  margin-left: 40px;
}
.topDiv {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  margin-top: 20px
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.playlistTitle {
  text-align: left;
  text-indent: 50px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


