.pagination-container {
  display: flex;
  list-style-type: none;
}
.pagination-item {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
  cursor: pointer;
}
.dots:hover {
  background-color: transparent;
  cursor: default;
}
.pagination-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.pagination-item.selected {
  background-color: purple;
  color: white;
}

.arrow::before {
  position: relative;
  top: 3pt;
  content: '';
  /* By using an em scale, the arrows will size with the font */
  display: inline-block;
  cursor: pointer;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(0, 0, 0, 0.87);
  border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}

.arrow:left {
  transform: rotate(-135deg) translate(-50%);
}

.arrow:right {
  transform: rotate(45deg);
}
