.pagination {
  justify-content: center;
}
.titleDiv {
  display: grid;
  grid-template-columns: 40px 50px 1fr repeat(2, 40px);
  align-items: center;
}

.titleDiv button {
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  background-color: white;
}
