.WaveSurferWrap {
  display: grid;
  margin-bottom: 2.5em;
}
.top-level-entry {
  display: grid;
  grid-template-columns: 40px 1fr repeat(3, 40px);
  align-items: center;
}
.bottom-level-entry {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
.WaveSurferWrap button {
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  background-color: white;
}

.icon {
  width: 40px;
  height: 40px;
}
