.container {
  font-family: sans-serif;
  text-align: center;
}

.dateRangeModal {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}

.dateRangeModal .Apply-btn {
  padding: 13px 29px;
  width: 140px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  outline: none;
  background: crimson;
  color: white;
  cursor: pointer;
}

#portal .container {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}
.container .dateRangeModal {
  z-index: 1;
  width: 50%;
  height: 50%;
  background: white;
  /* display: flex;
  align-items: top;
  justify-content: center; */
  border-radius: 5px;
  position: relative;

  animation: animate 0.3s;
}
.dateRangeModal button {
  position: relative;
  float: right;
  top: 7px;
  right: 7px;
  /* padding: 8px 11px; */
  /* background: crimson;
  color: white; */
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}
@keyframes animate {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
